* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(145, 211, 208);
}

header h1 {
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 35px;
}

main {
    padding-left: 3%;
    padding-right: 3%;
}

#background {
    background-image: url(immages/collage-2016-12-05-1.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    justify-content: center;
    height: 90vh;
    width: 100%;
}

footer {
    padding-left: 3%;
    
    position: absolute;
}

nav {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
    margin-top: 50px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a { 
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: #333;
    padding: 14px 16px;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #ddd;
}

h1 {
    font-size: 30px;
}

section {
    font-size: 18px;
}

h2 {
    font-size: 30px;
    margin-top: 15px;
}

h3 {
    margin-top: 10px;
 }

main ul {
    list-style-type: disc;
}

.map {
    padding: 0%;
    top: 50vh;
}

.map h2 {
    background-color: #ffffff;
    margin: 0px;
}

#map { 
    display: flex;
    align-content: flex-end;
    padding-bottom: 0%;
    /* position: relative; */
    width: 100%;
    height: 500px;
    padding: 0%;
    border:0; 
}

#map iframe {
    position:relative;
    justify-content: center;
    height: 500px;
    width: 100%;
}

#locatie {
    justify-content: center;
    padding-left: 35%;
}

#Krav-Maga-Vrouw {
    height: 64vh;
    width: 80vb;
    padding: 10vh;
    position: absolute;
    right: 10vb;
    top: 10vh;
}

#Krav-Maga-verdediging-op-de-grond {
    height: 60vh;
    width: auto;
    padding: 10vh;
    position: absolute;
    right: 10vb;
    top: 60vh;
}

#verdediging-tegen-wapen {
    height: 64vh;
    width: auto;
    padding: 10vh;
    position: absolute;
    right: 10vb;
    top: 10vh;
}

#collage-4-plaatjes {
    height: 64vh;
    width: auto;
    padding: 10vh;
    position: absolute;
    right: 22vb;
    top: 60vh;
}

#Twee-mannen-trappen {
    height: 64vh;
    width: auto;
    padding: 10vh;
    position: absolute;
    right: 10vb;
    top: 20vh;
}

#Drie-mannen {
    height: 64vh;
    width: auto;
    padding: 10vh;
    position: absolute;
    left: 0vb;
    top: 20vh;
}

.left {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding:3%;
    margin-bottom: 40%;
    margin-right: 3%;
    width: 50%;
}
