* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(139, 217, 213);
}

h1 {
    background-color: rgb(139, 217, 213);
    color: black;
}

.nav-container{
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid #333;
}

.home {
    background-color: rgb(139, 217, 213);
}
